<% layout('layouts/boilerplate')%>
<!-- <div class="snakeplant-bg"></div> -->

<div class="store__show">
  <div class="row d-flex justify-content-center">
    <!-- STORE INFO //LEFT -->
    <div class="card store__show-card col-5 offset-1">
      <h1 class="text-center"><%= store.name %></h1>
      <div class="store__show-details card-body">
        <p>City: <%= store.city %></p>
        <p>Email: <%= store.email %></p>
        <p>Description: <%= store.description %></p>
        <p>Store Author: <%= store.author.username %></p>
      </div>
      <% if(currentUser && store.author.equals(currentUser._id)){ %>
      <div class="store__show-buttons">
        <a href="/stores/<%= store._id %>/edit">
          <button class="btn btn-info mx-2">Edit</button>
        </a>

        <form action="/stores/<%= store._id %>?_method=DELETE" method="POST">
          <button class="btn btn-danger mx-2">Delete</button>
        </form>
      </div>
      <% } %>
    </div>

    <!-- STORE IMAGE //RIGHT -->
    <div class="col-5 d-flex justify-content-center">
      <img
        src="/store.jpg"
        class="img-fluid store__show-img"
        alt="<%= store.name %>"
      />
    </div>
  </div>

  <!-- NESTED NAV/SCROLLSPY -->
  <div class="container mt-4">
    <nav
      id="store__show-nav"
      class="navbar navbar-light bg-light d-flex justify-content-center"
    >
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link" href="#products">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#reviews">Reviews</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#location">Location</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contact">Contact</a>
        </li>
      </ul>
    </nav>

    <!-- <div
      data-bs-spy="scroll"
      data-bs-target="#store__show-scrollspy"
      data-bs-offset="0"
      tabindex="0"
    > -->
    <div>
      <div id="products"><%- include('../partials/store/products')%></div>
      <div id="reviews"><%- include('../partials/store/reviews')%></div>
      <div id="location"><%- include('../partials/store/location')%></div>
      <div id="contact"><%- include('../partials/store/contact')%></div>
    </div>
  </div>
</div>
<!-- <div class="snakeplant-bg"></div> -->
