<!-- Stars Stylesheet -->
<link rel="stylesheet" href="/stylesheets/stars.css" />

<div class="store__show-reviews col-10 offset-1 mt-3 py-2">
  <h1 class="text-center">Reviews</h1>
  <!-- Add Review Collapsible -->
  <div class="store__show-addReview">
    <% if(currentUser && !store.author.equals(currentUser._id)) { %>
    <p>
      <button
        class="btn btn-success"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#reviewForm"
        aria-expanded="false"
        aria-controls="collapseExample"
        <%= currentUser ? "" : "disabled" %> 
      >
      <%= currentUser ? "Add A Review" : "Sign-in To Leave A Review" %> 
      </button>
    </p>
  <% } %> 

    <div class="collapse mb-3" id="reviewForm">
      <div class="card card-body">
        <!-- Add Review Form  -->
        <form
          action="/stores/<%= store._id %>/reviews"
          method="POST"
          class="needs-validation"
          novalidate
        >
        <div class="col-md-8 offset-2">
          <div class="row justify-content-around">

        <fieldset class="starability-heart m-3">
          <legend>Selection:</legend>
          <input type="radio" id="no-rate" class="input-no-rate" name="selection" value="1" checked aria-label="No rating."/>
          <input type="radio" id="first-rate1" name="selection" value="1" />
          <label for="first-rate1" title="Terrible">1 star</label>
          <input type="radio" id="first-rate2" name="selection" value="2" />
          <label for="first-rate2" title="Not good">2 stars</label>
          <input type="radio" id="first-rate3" name="selection" value="3" />
          <label for="first-rate3" title="Average">3 stars</label>
          <input type="radio" id="first-rate4" name="selection" value="4" />
          <label for="first-rate4" title="Very good">4 stars</label>
          <input type="radio" id="first-rate5" name="selection" value="5" />
          <label for="first-rate5" title="Amazing">5 stars</label>
        </fieldset>
        
        <fieldset class="starability-heart m-3">
          <legend>Service:</legend>
          <input type="radio" id="no-rate" class="input-no-rate" name="service" value="1" checked aria-label="No rating." />
          <input type="radio" id="second-rate1" name="service" value="1" />
          <label for="second-rate1" title="Terrible">1 star</label>
          <input type="radio" id="second-rate2" name="service" value="2" />
          <label for="second-rate2" title="Not good">2 stars</label>
          <input type="radio" id="second-rate3" name="service" value="3" />
          <label for="second-rate3" title="Average">3 stars</label>
          <input type="radio" id="second-rate4" name="service" value="4" />
          <label for="second-rate4" title="Very good">4 stars</label>
          <input type="radio" id="second-rate5" name="service" value="5" />
          <label for="second-rate5" title="Amazing">5 stars</label>
        </fieldset>
      </div>
    </div>
          <div class="form-group mb-3">
            <label for="body">Review</label>
            <textarea
              class="form-control"
              id="body"
              rows="2"
              name="body"
              required
            ></textarea>
          </div>

          <button>Submit</button>
        </form>
      </div>
    </div>
  </div>
  <!-- List of Reviews  -->
  <div class="col">
    <% if(store.reviews && store.reviews.length){ %> <% for(let review of
    store.reviews){ %>
    <div class="card m-2">
      <div class="row mb-2">
        <div class="col-3 d-flex flex-column align-items-center">
          <p class="fw-bold mb-0 mt-3"><i class="fas fa-user mx-2"></i><%= review.author.username %></p>
          <p class="text-muted" style="font-size: small;"><%= review.dateAdded%></p>
          <% if(currentUser && review.author.equals(currentUser._id)){ %>
          <form
            action="/stores/<%= store._id %>/reviews/<%= review._id%>?_method=DELETE"
            method="POST"
          >
            <button class="btn btn-outline-danger btn-sm"><i class="fas fa-trash-alt"></i></button>
          </form>
          <%}%>
        </div>
        <div class="col-9 card-body">
          <div class="row mb-2">
            <div class="col d-flex align-items-center">
              Selection:
              <p class="starability-result" data-rating="<%= review.selection %>">
                    Rated: <%= review.selection %> stars
              </p>
            </div>
            <div class="col d-flex align-items-center">Service:
              <p class="starability-result" data-rating="<%= review.service %>">
                    Rated: <%= review.service %> stars
              </p></div>
          </div>
          <div class="speech-bubble">
            <div class="text-start fw-bold"><%= review.body %></div>
            </div>
        </div>
      </div>
    </div>
    <% }} else { %>
    <p class="text-center">There are no reviews for this store.</p>
    <% } %>
  </div>
</div>
