<% layout('layouts/boilerplate')%>
<div class="eucalyptus-bg"></div>
<div class="plant__show">
  <div class="row d-flex justify-content-center">
    <div class="card plant__show-card col-5">
      <h3><%= plant.name %></h3>
      <div class="plant__show-details card-body">
        <p>Type: <%= plant.type %></p>
        <p>Water Needs: <%= plant.water %></p>
        <p>Light Needs: <%= plant.light %></p>
        <p>Description: <%= plant.description %></p>
        <p>PetFriendly? <%= plant.isPetFriendly %></p>
        <p>
          Find at:
          <a href="/stores/<%= plant.store._id %>"><%= plant.store.name %></a>
        </p>
      </div>
      <% if(currentUser && plant.store.author.equals(currentUser._id)){ %>
      <div class="plant__show-buttons">
        <a href="/stores/<%= plant.store._id %>/plants/<%= plant._id %>/edit">
          <button class="btn btn-info mx-2">Edit</button>
        </a>
        <form
          action="/stores/<%= plant.store.id %>/plants/<%= plant._id %>?_method=DELETE"
          method="POST"
        >
          <button class="btn btn-danger mx-2">Delete</button>
        </form>
      </div>
      <% } %>
    </div>
    <div class="col-5 d-flex justify-content-center">
      <!-- Image Carousel -->
      <div
      id="plantCarousel"
      class="carousel slide"
      data-bs-ride="carousel"
    >
      <div class="carousel-inner">
        <% plant.images.forEach((img, i) => { %>
        <div class="carousel-item <%= i === 0 ? "active" : "" %>">
          <img src="<%= img.url %>" class="d-block w-100" alt="..." />
        </div>
        <% })%>
      </div>
      <% if(plant.images.length > 1){ %> 
      <a
        class="carousel-control-prev"
        href="#plantCarousel"
        role="button"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </a>
      <a
        class="carousel-control-next"
        href="#plantCarousel"
        role="button"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </a>
    <% } %> 
    </div>
      <!-- <img
        src="<%= plant.image %>"
        class="img-fluid plant__show-img"
        alt="<%= plant.name %>"
      /> -->
    </div>
  </div>
</div>
