<% layout('layouts/boilerplate')%>
<div class="eucalyptus-bg"></div>
<div class="plant__show">
  <div class="row d-flex justify-content-center">
    <div class="card plant__show-card col-5">
      <h3><%= plant.name %></h3>
      <div class="plant__show-details card-body">
        <p>Type: <%= plant.type %></p>
        <p>Water Needs: <%= plant.water %></p>
        <p>Light Needs: <%= plant.light %></p>
        <p>Description: <%= plant.description %></p>
        <p>PetFriendly? <%= plant.isPetFriendly %></p>
        <% if (plant.store){ %>
        <p>
          Find at:
          <a href="/stores/<%= plant.store._id %>"><%= plant.store.name %></a>
        </p>
        <% } %>
      </div>
      <div class="plant__show-buttons">
        <a href="/plants/<%= plant._id %>/edit">
          <button class="btn btn-info mx-2">Edit</button>
        </a>
        <% if (plant.store){ %>
        <form
          action="/stores/<%= plant.store.id %>/plants/<%= plant._id %>?_method=DELETE"
          method="POST"
        >
          <button class="btn btn-danger mx-2">Delete</button>
        </form>

        <% } %>
      </div>
    </div>
    <div class="col-5 d-flex justify-content-center">
      <img
        src="<%= plant.image %>"
        class="img-fluid plant__show-img"
        alt="<%= plant.name %>"
      />
    </div>
  </div>
</div>
